<h1> My Task List</h1>
<ul>
<% @tasks.each do |task| %>
  <% icon = task.completed ?  '<i class="far fa-check-square"></i>' : '<i class="far fa-square"></i>' %>
  <li> <%= icon.html_safe %> <%= link_to task.title, task_path(task.id) %> . <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, delete_task_path(task), method: :delete %></li>
<% end %>
</ul>
